<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.1.xsd ">
	
    <bean id="datasource"
     	class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    	<property name="driverClassName" value="com.mysql.jdbc.Driver" />
    	<!--注意一下&characterEncoding要修改为&amp;characterEncoding-->
	<property name="url" value="jdbc:mysql://localhost:3306/mysql?useUnicode=true&amp;characterEncoding=utf-8"/>    	
    	<property name="username" value="root"/>
    	<property name="password" value="" />
	</bean>   	
	
	<bean id="studentDaoImp"
		class="NetEase.SpringJDBCtest.StudentDaoImp">
		<property name="datasource" ref="datasource" />
	</bean>    	
    	
</beans>